{% load cms_tags sekizai_tags %}
{% load cms_tags menu_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% page_attribute "page_title" %} | Quizonia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
  </head>
  <body>
  {% addtoblock "css" %}
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="{% static 'viridis/style.css' %}" type="text/css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  {% endaddtoblock %}

  {% addtoblock "js" %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {% endaddtoblock %}
  <div class="container">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'viridis:home' %}">Quizonia</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      {% if user.is_active and user.is_staff %}
        <li><li><a href="{% url 'viridis:add_test' %}">Create Quiz</a></li>
      {% endif %}
        <li><li><a href="/blog/">Blog</a></li>
      </ul>
      <form id="search" class="navbar-form navbar-left" method="get" action="/search?=">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="left-inner-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="search" id="search-input" name="q" class="form-control input-sm" placeholder="Search for past papers..." />
            </div>
          </div>
      </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if user.is_staff %}
            <li><a href="{% url 'viridis:my_tests' %}">My quizzes</a></li>
            {% endif %}
            <li><a href="{% url 'viridis:profile' %}">Profile</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'django.contrib.auth.views.logout' %}?next={{ request.path }}">Sign Out</a></li>
          </ul>
        </li>
        {% else %}
        <a href="/accounts/register/">
          <li>
            <button id="signup" class="btn btn-success navbar-btn btn-sm">Sign up</button>
          </li>
        </a>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="wrap" class="row row-wrap">
      <div class="col-md-8">
        {% cms_toolbar %}
        {% placeholder base_content %}
        {% block base_content %}{% endblock %}
      </div>
      <div class="col-md-4 other">
        {% if not user.is_authenticated %}
<div class="panel panel-info panel-login">
  <div class="panel-heading"><h1 class=panel-title>Log in</h1></div>
  <div class="panel-body">
    <form class="form-horizontal" method="post" action="{% url 'auth_login' %}" role="form">
    {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-12">
          <div class="left-inner-addon">
            <i class="glyphicon glyphicon-user"></i>
            <input class="form-control" type="text" name="username" placeholder="Username"/>
          </div>
        </div>
      </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="left-inner-addon">
          <i class="glyphicon glyphicon-lock"></i>
          <input class="form-control" type="password" name="password" placeholder="Password" />
        </div>
      </div>
    </div>
    <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-sign-in"></i> Sign in</button>
    <input type="hidden" name="next" value="{{ request.path }}" />
    </form>
</div>
</div>
        {% endif %}
        <p id="posts-recent" class="text-muted lead">Recent Posts</p>
        <ul class="list-unstyled">
          {% show_menu %}
        </ul>
      </div>
    </div>
    {% render_block "js" %}
</div>
{% block footer %}
<footer id="footer-main" class="footer">
  <div class="row">
    <div class="col-md-6">
      <i class="fa fa-info-circle"></i> <a href="/about/">About</a> <i class="fa fa-question-circle"></i> <a href="/faq/">FAQs</a>
    </div>
    <div class="col-md-6">
      <a class="twitter-follow-button"
       href="https://twitter.com/quizonia"
       data-show-count="false"
       data-lang="en"
       data-size="large">
        Follow @quizonia
      </a>
      <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
    </div>
  </div>
    <p>&copy; Copyright 2015, Quizonia. All Rights Reserved.</p>
</footer>
{% endblock %}
  </body>
</html>
