{% extends "base.html" %}
{% block title %} about{% endblock %}

{% block content %}
<h3>About Quizonia</h3>

<p>
  Quizonia grew out of the need to provide KCPE revision material for potential candidates in Kenya. School children need good material for revision, but before, there were no online sites with free multiple choice KCPE questions that one could do and get results immediately. The sites available at the time only provided KCPE exam papers in the pdf file format, which one had to pay in order to get the marking scheme.
</p>

<p> 
  Quizonia brings a new style of online quizzing which allows users to create quizzes, take quizzes and receive instant quiz results all for free!
</p>
{% endblock %}

