{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Add Choices to {{ test }}{% endblock %}

{% block content %}
{% if form.errors %}
  <p><i class="glyphicon glyphicon-info-sign"></i>Please correct the errors below: {{ form.non_field_errors }}</p>
{% endif %}
<hr>
<ol class="breadcrumb">
  <li>Quiz</li>
  <li>Questions</li>
  <li><a href="{% url 'viridis:add_choice' %}">Choices</a></li>
</ol>
<div class="panel-group" id="accordion">
  <form  method="post" action="" role="form">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="item">
      {% for field in formset %}
        {% if forloop.revcounter|divisibleby:4 %}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                <span class="heading-collapse">Add choices <i class="fa fa-chevron-up"></i></span>
              </a>
            </h3>
          </div>
          <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
            <div class="panel-body">
        {% endif %}
        {% if forloop.revcounter|divisibleby:4 %}
        {% for question in test.question_set.all %}
          <p>{{ forloop.counter }}. {{ question.question_text }} <i>({{ mark }} mks)</i></p>
        {% endfor %}
        {% endif %}
            {% cycle 'A' 'B' 'C' 'D' %}. {{ field }}
        {% if forloop.counter|divisibleby:4 %}
          </div>
         </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
      <hr>
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "save" %} Complete
        </button>
      {% endbuttons %}
    </div>
  </form>
</div>
{% endblock %}
