{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}Add Questions{% endblock %}
{% block content %}

{% if form.errors %}
  <p><i class="glyphicon glyphicon-info-sign"></i>Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}
<hr>
<ol class="breadcrumb">
  <li>Quiz</li>
  <li><a href="{% url 'viridis:add_question' %}">Questions</a></li>
  <li>Choices</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Add questions to {{ title }}</h3></div>
<div class="panel-body">
  <form id="question-form" method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
    {% bootstrap_formset formset layout='vertical' %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "arrow-right" %} Continue
            </button>
          {% endbuttons %}

      {{ formset.management_form }}
  </form>
</div>
</div>
{% endblock %}
