{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

{% if form.errors %}
  <p><i class="glyphicon glyphicon-info-sign"></i>Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}
  <div class="well custom-header-well"><label>Add questions</label></div>
  <form id="question-form" method="post" action="" class="well span9">
  {% csrf_token %}
<div class="item">
  <table>
      {{ formset }}
  </table>
      {{ formset.management_form }}
</div>
  <p class="submit"><input class="btn btn-default" type="submit" value="submit &rarr;" /></p>
  </form>
{% endblock %}
