{% extends 'base.html' %}
{% block title %}History{% endblock %}
{% block content %}
<hr>
{% if history %}
<table class="table">
    <tr>
      <th>Quiz</th>
      <th>Score</th>
      <th>Last Attempt</th>
    </tr>
  <tbody>
{% for history in history %}
  <tr>
    <td>{{ history.test }}</td>
    <td>{{ history.score }}/{{ history.marks }}</td>
    <td>{{ history.pub_date|date:"M d, Y" }}</td>
  </tr>
{% empty %}
<p>
  Sorry, you do not have any previous scores saved yet.
  Please <a href="{% url 'viridis:home' %}">take</a> a quiz while logged in in order to save previous performance
  for a particular quiz.
</p>
{% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
