{% extends "base.html" %}

{% block content %}
<div class="panel panel-primary">
<div class="panel panel-heading"><h3 class="panel-title">Recent Tests</h3></div>
<div class="panel panel-body">
{% if tests %}
<table class="table index-table">
    {% for test in tests %}
      <tr height="20">
        <td>
          <p><a href="{{ test.get_absolute_url }}">{{test.title}}</a></p>
          {% if test.question_set.all %}
           <span id="questions-preview"><a href="#" onclick="return false;"><i>{{ test.question_set.all|length }} questions</i></a>
             <div class="box">Popup box</div>
           </span>
          {% else %}
            <p>No questions</p>
          {% endif %}
        </td>
        <td>
            {{ test.user }} 
        </td>
        <td>
          {{ test.pub_date|date:"M d, Y" }}
        </td>
      </tr>
    {% endfor %}
</table>
    {% else %}
        <strong>There are no tests at present</strong>
{% endif %}
</div>
</div>
{% endblock %}
