{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block title %}Quizes{% endblock %}
{% block content %}
<div class="panel panel-default">
<div class="panel-heading"><h2 class="panel-title">Quizes
<div class="btn-group">
<button type="submit" name="delete" id="mytests-delete" class="btn btn-danger" title="delete"><i class="fa fa-trash-o"></i></button>
<button type="submit" name="delete" id="mytests-delete" class="btn btn-primary" title="edit"><i class="fa fa-edit"></i></button>
</div>
</h2>
</div>
<div class="panel-body">
{% render_table test %}
</div>
</div>
{% endblock %}

