{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}New Quiz{% endblock %}
{% block content %}

{% if form.errors %}
  <div><i class="glyphicon glyphicon-info-sign"></i><label>Please correct the errors below:</label>{{ form.non_field_errors }}</div>
  {% endif %}
<hr>
<ol class="breadcrumb">
  <li><a href="{% url 'viridis:add_test' %}">Quiz</a></li>
  <li>Questions</li>
  <li>Choices</li>
</ol>
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">New quiz</h3></div>
<div class="panel-body new-test-panel">
  <form id="new-test-form" method="post" action="" class="">
  {% csrf_token %}
  <div class="new-test-wrap">
      {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "arrow-right" %} Continue
            </button>
        {% endbuttons %}
  </div>
      {{ formset.management_form }}
  </form>
</div>
</div>
{% endblock %}
