{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

{% if form.errors %}
  <div><i class="glyphicon glyphicon-info-sign"></i><label>Please correct the errors below:</label>{{ form.non_field_errors }}</div>
  {% endif %}
  <div id="new-test-header" class="well"><label>New test<label></div>
  <form id="question-form" method="post" action="" class="">
  {% csrf_token %}
<div class="item">
  <table>
      {{ form }}
  </table>
      {{ formset.management_form }}
</div><br />
  <p class="submit"><input class="btn btn-default" type="submit" value="submit" /></p>
  </form>
{% endblock %}
