{% extends "base.html" %}
{% block title %}{{ question.question_text }}{% endblock %}
{% block metadesc %}
  {{ question.question_text }}
{% endblock %}
{% block date_created %}
<hr>
See <a href="{% url 'viridis:history' %}">previous scores</a>.
{% endblock %}
{% block head %}
{% if test == 'maths' %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
{% endif %}
{% endblock %}
{% block content %}
<div id="question">
  <p>{{ question.question_text|linebreaksbr }}</p>
  <form class="question-form" action="{% url 'viridis:question_answer' question.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.pk }}" />
    {% if question.question_pic %}
    <div class="img-frame">
      <img class="question-img" src="/media/{{ question.question_pic }}" width="95%" alt="">
    </div>
    {% endif %}
    {% for choice in question.choice_set.all %}
      <label for="choice{{ choice.id }}" class="label-choice">{% cycle '(A)' '(B)' '(C)' '(D)' %} <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}"/>  {{ choice.choice_text|linebreaksbr }}</label><br />
    {% endfor %}
    <button id="question-submit" class="btn btn-sm btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
