{% extends 'base.html' %}
{% load humanize %}
{% load bootstrap3 %}
{% block metadesc %}
Take the {{ test.title }} paper now for FREE!
{% endblock %}
{% block head %}
{% if test.tag == 'maths' %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
{% endif %}
{% endblock %}
{% block date_created %}
  <hr>
  <p><i class="fa fa-edit fa-2x fa-blue"></i>created <span class="badge">{{ test.pub_date|naturaltime|capfirst }}</span></p>
  <p><i class="fa fa-thumbs-o-up fa-2x fa-green"></i> approved by <span class="badge">{{ test.votes }} pe{{ test.votes|pluralize:"rson,ople" }}</span></p>
{% endblock %}

{% block title %}{{ test.title }}{% endblock %}

{% block content %}
<div class="panel panel-default panel-top">
  <div class="">
    <h1 class="panel-heading bordered-heading" title="{{ test.title }}">{{ test.title|truncatechars:27 }}</h1>
  </div>
  <div class="panel-body test-body">
{% if test.question_set.all %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for question in test.question_set.all %}
<ul class="list-unstyled">
  <li>{{ forloop.counter }}. <a href="{{ question.get_absolute_url }}">{{ question.question_text|linebreaksbr }}</a> (<em>{{ question.marks }} marks</em>)</li>
    {% if question.question_pic %}
      <div class="img-frame">
        <img class="question-img" src="/media/{{ question.question_pic }}" width="95%" alt="">
      </div>
    {% endif %}
</ul>
<form class="test-form" action="{% url 'viridis:answer' test.id %}" method="post">
{% csrf_token %}
  <input type="hidden" name="question_id" value="{{ question.pk }}" />
  {% for choice in question.choice_set.all %}
    <label for="choice{{ choice.id }}" class="label-choice">{% cycle '(A)' '(B)' '(C)' '(D)' %} <input class="input-choice" type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}"/>  {{ choice.choice_text|linebreaksbr }}</label><br />
  {% endfor %}
</form>
<hr>
{% endfor %}
{% else %}
<p>There are no questions for <i>{{ test.title }}</i>.</p>
{% endif %}
    </div>
</div>
  <hr>
<div class="footer">
  <div class="footer-wrap">
  <div class="rating">
    <ul class="footer-list">
      <li>
      <form method="post" action="{% url 'viridis:vote' %}" class="vote_form" role="form">
      {% csrf_token %}
        <input type="hidden" id="id_test" name="test" class="hidden_id" value="{{ test.pk }}" />
        <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
        {% if not user.is_authenticated %}
          <button class="btn btn-sm btn-success" title="Please log in to vote"><i class="fa fa-thumbs-o-up"></i></button>
        {% elif test.pk not in voted %}
          <button id="approve" class="btn btn-sm btn-success"><i class="fa fa-thumbs-up"></i></button>
        {% else %}
          <div class="btn-group">
            <button class="btn btn-sm btn-success approve">Upvote</button>
            <button class= "btn btn-sm btn-success" title="Approved by {{ test.votes }} pe{{ test.votes|pluralize:"rson,ople" }}">{{ test.votes }} </button>
          </div>
        {% endif %}
      </form>
      </li>
      <li>
        <a href="{{ test.get_absolute_url }}/results/" class="btn btn-sm btn-primary">
          Finish
        </a>
      </li>
    </ul>
  </div>
  </div>
</div>

{% endblock %}


