{% extends "base.html" %}
{% load endless %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="index-div">
<div class=""><h2 class="">Top Quizzes</h2></div>
<div class="">
{% paginate object_list %}
{% for test in object_list %}
    <li class="list-unstyled list-border">
    <p><a href="{{ test.get_absolute_url }}">
      <b>{{ test.title|truncatechars:140 }}</b>
    </a>{{ test.votes }}<i class="fa fa-heart fa-green"></i> </p>
      <p>created on {{ test.pub_date|date:"M d, Y" }} by {{ test.user|truncatechars:20 }}</p>
      <p><span class="badge">{{ test.question_set.all|length }} question{{ test.question_set.all|length|pluralize:"s" }}</span></p>
    </li>
    <hr>
{% empty %}
  <p>Sorry, there are no quizzes available at the moment.</p>
{% endfor %}
{% show_pages %}
</div>
</div>
{% endblock %}

{% block footer %}
  <p>&copy; Copyright, 2014. Sanzig, inc</p>
{% endblock %}
