{% extends "base.html" %}
{% load humanize %}
{% load bootstrap3 %}

{% block date_created %}
  <hr>
  <p><i class="fa fa-edit fa-2x fa-blue"></i>created <span class="badge">{{ test.pub_date|naturaltime|capfirst }}</span></p>
  <p><i class="fa fa-thumbs-o-up fa-2x fa-green"></i> approved by <span class="badge">{{ test.votes }} pe{{ test.votes|pluralize:"rson,ople" }}</span></p>
{% endblock %}
{% block footer %}
  <div class="rating">
    <form method="post" action="{% url 'viridis:vote' %}" class="vote_form">
    {% csrf_token %}
    <li class="list-unstyled"> 
      <input type="hidden" id="id_test" name="test" class="hidden_id" value="{{ test.pk }}" />
      <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
      {% if not user.is_authenticated %}
      <button id="approve" class="btn btn-sm btn-success" disabled title="Please login to vote"><i class="fa fa-thumbs-o-up"></i></button>
    {% elif test.pk not in voted %}
     <button id="approve" class="btn btn-sm btn-success"><i class="fa fa-thumbs-up"></i></button>
   {% else %}
     <button id="approve" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Upvote</button>    
   {% endif %}
     <span>{{ test.votes }} <i class="fa fa-heart fa-green"></i>s</span>
  </li>
</form>
</div>
{% endblock %}

{% block title %}{{ test.title }}{% endblock %}

{% block content %}
<div class="panel panel-default panel-top">
  <div class="">
    <h1 class="panel-heading bordered-heading" title="{{ test.title }}">{{ test.title|truncatechars:27 }}</h1>
  </div>
  <div class="panel-body test-body">
{% if test.question_set.all %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for question in test.question_set.all %}
<form class="test-form" action="{% url 'viridis:answer' test.id %}" method="post">
{% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.pk }}" />
<ul class="list-unstyled">
  <li>{{ forloop.counter }}. {{ question.question_text }} (<em>{{ question.marks }} marks</em>)</li>
    {% if question.question_pic %}
      <img src="/media/{{ question.question_pic }}" alt="">
    {% endif %}
</ul>
    {% for choice in question.choice_set.all %}
      <label for="choice{{ choice.id }}" class="label-choice">{% cycle '(A)' '(B)' '(C)' '(D)' %} <input class="input-choice" type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}"/>  {{ choice.choice_text }}</label><br />
    {% endfor %}
<input class="btn btn-default" onclick="this.disabled=true" type="submit" value="Submit" />
</form>
<hr>
{% endfor %}
{% else %}
<p>There are no questions for <i>{{ test.title }}</i>.</p>
{% endif %}
    </div>
</div>
  <a href="/results/{{ test.pk }}" class="btn btn-primary">
     Finish
  </a>
  <hr>
{% endblock %}
