{% extends "base.html" %}
{% load endless %}

{% block head %}{% endblock %}   
{% block title %}Home{% endblock %}
{% block content %}
<div class="index-div">
<div class=""><h2 class="">Popular Quizzes</h2></div>
<div class="">
{% paginate object_list %}
{% for test in object_list %}
    <li class="list-unstyled list-border">
    <p><a href="{{ test.get_absolute_url }}">
      <b>{{ test.title|truncatechars:140 }}</b>
    </a><i class="fa fa-heart fa-green"></i> {{ test.votes }}</p>
      <p>created on {{ test.pub_date|date:"M d, Y" }} by {{ test.user|truncatechars:20 }}</p>
      <p><span class="badge">{{ test.question_set.all|length }} questions</span></p>
    </li>
    <hr>
{% endfor %}
{% show_pages %}
</div>
</div>
{% endblock %}