#wrap {
  background-color: #fff !important;
}

#main {
float:left;
width: 50%;
margin: 0 0 0 15%;
background:#ffffff;
}

input:not([type="checkbox"]) { 
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
  resize: none;
}

.error {
  color: red;
}

#delete {
  color: red;
}

.auth-wrapper {
  width: 700px; 
  padding:5px;
  border:1px solid #ccc !important;
  background-color: #2cc9f0;
  margin: 50px auto; 
}

.navbar-custom {
  background-color: #d3d3d3;
  border-radius:0;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.navbar-custom .navbar-nav > li > a {
  color: #000000; 
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {  
  text-decoration: none;     
  background-color: #2cc9f0; color: #fff; 
}

.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #2cc9f0;
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #2cc9f0;
}

#search-input {
  width: 400px;
}

#btn-search {
  background-color: #2cc9f0;
  color: #fff;
  width: 70px;
}

#sidebar {
  float:right;
  right: 5%;
  width:250px;
  background:#ffffff;
}

td {
  text-align: left;
  padding: 5px 0;
  height: 50px;
}

.label-choice {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.input-choice {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.fa {
  color: #ffffff;
}

.ac-results {
  background-color: #2cc9f0;
  color: #ffffff;
}

.rating {
  float: right;
  padding: 0 0px 0 0;
  /*right: absolute;*/
}

#noscript {
  background-color: red;
  color: white;
}

#table-mytests {
  border:2px solid #d3d3d3;
}

.box {
  display:none;
  top: 30px; 
  left: 10px;
   background: #d3d3d3;
   padding: 5px;
}

a:hover + .box {
     display:block;   
}
