.inside {
  background-color: #d3d3d3 !important;
}

.content {
  width: 50%;
  padding: 5px;
  background-color: #fff;
  margin: 2% auto;
}

input:not([type="checkbox"]) { 
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.auth-wrapper {
  width: 700px; 
  padding:5px;
  border:1px solid #ccc !important;
  margin: 50px auto; 
}

.navbar-custom {
  background-color: #fff;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {  
  text-decoration: none;     
  background-color: #2cc9f0; color: #fff; 
}

.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #2cc9f0;
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #2cc9f0;
}

nav a {
  color: #2cc9f0;
}

#search-input {
  width: 350px;
}

#btn-search {
  background-color: #2cc9f0;
  color: #fff;
  width: 70px;
}

#sidebar-header {
  background-color: #2cc9f0;
  color: #fff;
  font-size: 12pt;
  padding: 5% 0 0 28%;
  font-weight: bold;
}

#sidebar-body {
  padding: 0 0 0 25%;
}

#sidebar {
  width: 20%;
  padding: 5px;
  background-color: #fff;
  float: left;
}

#table-header {
  background-color: #2cc9f0;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
}

