.inside {
  background-color: #fff !important;
}

.content {
  width: 50%;
  padding: 5px;
  background-color: #fff;
  margin: 2% auto;
}

input:not([type="checkbox"]) { 
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.auth-wrapper {
  width: 700px; 
  padding:5px;
  border:1px solid #ccc !important;
  background-color: #2cc9f0;
  margin: 50px auto; 
}

.navbar-custom {
  background-color: #d3d3d3;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {  
  text-decoration: none;     
  background-color: #2cc9f0; color: #fff; 
}

.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #2cc9f0;
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #2cc9f0;
}

#search-input {
  width: 350px;
}

#btn-search {
  background-color: #2cc9f0;
  color: #fff;
  width: 70px;
}

#sidebar-header {
  background-color: #2cc9f0;
  color: #fff;
  font-size: 12pt;
  font-family:"Marked Fool",Junkyard,Balker,Papyrus,Haettenschweiler,Impact,fantasy;
  padding: 5% 0 0 20%;
  font-weight: bold;
}

#sidebar-body {
  padding: 0 0 0 25%;
}

#sidebar {
  width: 23%;
  padding: 5px;
  background-color: #fff;
  float: left;
}

#index-main-header {
  background-color: #2cc9f0;
  padding: 0 0 0 34%;
  color: #fff;
  font-size: 20pt;
  font-family:"Marked Fool",Junkyard,Balker,Papyrus,Haettenschweiler,Impact,fantasy;
}

td {
  text-align: left;
  padding: 5px 0;
  height: 20px;
}

#test-header {
  background-color: #2cc9f0;
  color: #fff;
  font-size: 21pt;
  padding: 0 0 0 37%;
  font-weight: bold;
  font-family:"Marked Fool",Junkyard,Balker,Papyrus,Haettenschweiler,Impact,fantasy;
}
