.inside {
  background-color: #d3d3d3 !important;
}

input:not([type="checkbox"]) { 
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.auth-wrapper {
  width: 700px; 
  padding:5px;
  /*background-color: #2980b9;*/
  border:1px solid #ccc !important;
  margin: 50px auto; 
}
