{% extends "registration/base.html" %}

{% block title %}Account activated{% endblock %}

{% block content %}
<div class="auth post-registration">
  <div class="auth-banner">
    <h1>Sanzig</h1>
  </div>
  <h1>Account activated</h1>
  <p>Thanks for signing up! Now you can <a href="/accounts/login/">log in</a>.</p>
</div>
      <div class="auth-footer">
      <ul class="list-unstyled">
        <li>&copy; Copyright Sanzig, 2014</li>
        <li><a href="">About</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Terms of Use</a></li>
      </ul>
    </div>
{% endblock %}