<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %}{% endblock %} &#124; Quizonia</title>
    {% block head %}{% endblock %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'viridis/style.css' %}">
  </head>
  <body id="auth-body">
    {% block content %}{% endblock %}
    <div class="auth-footer">
      <ul class="list-unstyled">
        <li>&copy; Copyright Quizonia, 2015</li>
        <li><a href="/about/">about</a></li>
        <li><a href="/faq/">faq</a></li>
        <li><a href="/blog/">blog</a></li>
      </ul>
    </div>
  </body>
</html>
