<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head> 
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delicious">
    <link rel="stylesheet" type="text/css" href="{% static 'viridis/style.css' %}">
  </head>
  <body id="auth-body">
    {% block content %}{% endblock %}
  </body>
</html>
