{% extends "registration/base.html" %}
{% load staticfiles %}
{% block head %}
<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
{% endblock %}
{% block title %}Sign in &middot; PieQuiz{% endblock %}
{% block content %}
<div class="auth-wrapper">
<div class="panel-heading panel-heading-login">
<h3 class="panel-title">Sign In - PieQuiz</h3>
</div>
{% if form.errors %}
<p class="error">Sorry, invalid username or password</p>
{% endif %}

<form class="form-horizontal" method="post" action="" role="form">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next|default:"/" }}">
<div class="form-group">
<div class="col-sm-12">
<div class="left-inner-addon">
<i class="glyphicon glyphicon-user"></i>
<input type="text" class="form-control" name="username" placeholder="Username" id="id_username">
</div>
</div>
</div>
<div class="form-group">
<div class="col-sm-12">
<div class="left-inner-addon">
<i class="glyphicon glyphicon-lock"></i>
<input type="password" class="form-control" name="password" placeholder="Password" id="id_password">
</div>
</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
      <button type="submit" class="btn btn-success">Sign in</button>
    </div>
</div>
</form>

<div>
<hr>
<p><a href="/accounts/register/">Sign
up</a> for a new account.</p>
<p><a href="{% url "password_reset_recover" %}">Forgot your password?</a></p>
<hr>
</div>
</div>

{% endblock %}
