{% extends "registration/base.html" %}
{% load staticfiles %}
{% block head %}
<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
{% endblock %}
{% block title %}Sign in {% endblock %}
{% block content %}
<div class="auth-wrapper">
  <div class="auth auth-banner">
    <h1><a href="{% url 'viridis:home' %}">Quizonia</a></h1>
  </div>
    <div class="auth auth-left">
      <div class="panel-heading panel-heading-login">
        <h3 class="panel-title">Sign in</h3>
      </div>
      {% if form.errors %}
      <p class="error">Sorry, invalid username or password</p>
      {% endif %}

      <form class="form-horizontal" method="post" action="" role="form">
      {% csrf_token %}
        <input type="hidden" name="next" value="{{ next|default:"/" }}">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="left-inner-addon">
              <i class="glyphicon glyphicon-user"></i>
              <input type="text" class="form-control" name="username" placeholder="Username" id="id_username">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="left-inner-addon">
              <i class="glyphicon glyphicon-lock"></i>
              <input type="password" class="form-control" name="password" placeholder="Password" id="id_password">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-0 col-sm-12">
            <button type="submit" class="btn btn-success">Sign in</button>
          </div>
        </div>
      </form>
      <div>
        <p><a href="{% url "password_reset_recover" %}">Forgot your password?</a></p>
      </div>
    </div>
    <div class="auth auth-right">
      <div class="panel-heading panel-heading-login">
        <h3 class="panel-title">Sign up</h3>
      </div>

        <div class="btn-group">
          <a href="{% url 'social:begin' 'google-oauth2' %}" class= "btn btn-lg btn-danger"><i class="fa fa-google"></i></a>
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-danger">Sign up with Google</a> 
        </div>
        <hr>
        <p><a href="/accounts/register/">Sign up with email</a></p>
    </div>
    <div class="auth auth-bottom">
      <p><u>What can you do on Quizonia?</u></p>
      <ul class="list-unstyled">
        <li>Take KCPE past papers online,</li>
        <li>receive instant results after taking a paper,</li>
        <li>save scores for papers taken.</li>
      </ul>
    </div>
</div>

{% endblock %}
