{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}Sign up &middot; PieQuiz{% endblock %}

{% block content %}

  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}
  <div class="auth-wrapper">
  <div class="panel-heading panel-heading-login">
  <h1 class="panel-title">Create an account - PieQuiz</h1>
  </div>
  
  <form class="form-horizontal" method="post" action="" role="form">
    {% csrf_token %}
    <div>
    <div class="form-group">
      {% if form.username.errors %}
        <p class="errors">{{ form.username.errors.as_text }}</p>
      {% endif %}
      <div class="col-sm-12">
      {% render_field form.username class="form-control" placeholder="Username" %}
      </div>
    </div>
    <div class="form-group">
      {% if form.email.errors %}
        <p class="errors">{{ form.email.errors.as_text }}</p>
      {% endif %}
      <div class="col-sm-12">
      {% render_field form.email class="form-control" placeholder="Email" %}
      </div>
    </div>
    <div class="form-group">
      {% if form.password1.errors %}
        <p class="errors">{{ form.password1.errors.as_text }}</p>
      {% endif %}
      <div class="col-sm-12">
      {% render_field form.password1 class="form-control" placeholder="Password" %}
      </div>
    </div>
    <div class="form-group">
      {% if form.password2.errors %}
        <p class="errors">{{ form.password2.errors.as_text }}</p>
      {% endif %}
      <div class="col-sm-12">
      {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
      <button type="submit" class="btn btn-success">Sign up</button>
    </div>
  </div>

  </div>
  </div>
  </form>
  </div>
  
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>

<p>Your username can only consist of alphanumeric characters and
underscores and may be up to 30 characters long.</p>
{% endblock %}
